*{
	margin: 0px;
	font-family: 'Lobster', cursive;
}
.headder{
	height: 10vh;
}
.hd1{
	height: 10vh;
	margin-left: 35px;
	margin-top: 10px;
	float: left;
}
.hd2{
	width: 150px;
	height: 7vh;
	float: right;
	margin-right: 20px;
	margin-top: 12px;
}
.bt1{
	width: 150px;
	height: 6vh;
	border: none;
	outline: none;
	background-color: #00000000;
	font-size: 18px;
	transition: border-bottom 0.3s ease;
}
.bt1:hover{
	border-bottom: 1px solid black;
}
.bg{
	height: 90vh;
	background-image: url(image/img22.jpeg);
	background-size: cover;
	background-position: center;
}
.filter{
	height: 30vh;
	background-color: #00000033;
	padding-top: 60vh;
	padding-right: 40px;
}
.text1{
	width: 700px;
	float: right;
	font-size: 40px;
}
.content1{
	height: 100vh;
	padding-top: 10vh;
}
.about{
	width: 1100px;
	height: 80vh;
	margin: auto;
	background-color: lightgray;
	padding-top: 10vh;
	padding-left: 50px;
}
.logo{
	width: 300px;
	height: 50vh;
	float: left;
	padding-top: 25px;
}
.text2{
	width: 700px;
	height: 70vh;
	float: left;
	margin-left: 50px;
}
.t2{
	width: 700px;
	height: 8vh;
	font-size: 30px;
	border-bottom: 1px solid black;
}
.t1{
	width: 700px;
	height: 8vh;
	margin-bottom: 8vh;
	padding-left: 30px;
	padding-top: 1vh;
}
.check{
	float: left;
	padding-top: 2vh;
}
.text3{
	float: left;
	width: 500px;
	height: 10vh;
	margin-left: 25px;
	font-size: 20px;
}
.content2{
	height: 170vh;	
}
.con1{
	width: 450px;
	height: 40px;
	margin: auto;
	font-size: 25px;
	border-bottom: 1px solid black;
}
.con2{
	height: 150vh;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50vh 50vh 50vh;
	grid-gap: 10px;
	padding: 10px; 
}
.f1{
	grid-row: 1;
	grid-column: 1/3;
	background-image: url(image/img1.jpeg);
	background-size: cover;
	background-position: center;  
}
.f2{
	grid-row: 1;
	grid-column: 3/5;
	background-image: url(image/img2.jpeg);
	background-size: cover;
	background-position: center; 
}
.f3{
	grid-row: 1/3;
	grid-column: 5;
	background-image: url(image/img4.jpeg);
	background-size: cover;
	background-position: center; 
}
.f4{
	grid-row: 2/4;
	grid-column: 1;
	background-image: url(image/img6.jpeg);
	background-size: cover;
	background-position: center; 
}
.f5{
	grid-row: 2;
	grid-column: 2/4;
	background-image: url(image/img3.jpeg);
	background-size: cover;
	background-position: center;
}
.f6{
	grid-row: 3;
	grid-column: 3/5;
	background-image: url(image/img11.jpeg);
	background-size: cover;
	background-position: center;
}
.f7{
	background-image: url(image/img15.jpeg);
	background-size: cover;
	background-position: center;
}
.f8{
	background-image: url(image/img14.jpeg);
	background-size: cover;
	background-position: center;
}
.f9{
	background-image: url(image/img16.jpeg);
	background-size: cover;
	background-position: center;
}
.foto1{
	width: 300px;
}
.content3{
	margin-top: 20px; 
	height: 150vh;
}
.con3{
	width: 400px;
	height: 40px;
	margin: auto;
	font-size: 25px;
	border-bottom: 1px solid black;
}
.con4{
	height: 130vh;
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 130vh;
	grid-gap: 30px;
	padding-left: 180px;
	padding-right: 180px; 
}
.price{
	background-color: pink;
	padding-top: 5vh; ;
}
.icon{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: auto;
	background-color: cyan;
}
.priceText{
	width: 300px;
	height: 70vh;
	margin: auto;
	margin-top: 5vh;
	background-color: cyan;
}
